################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmailExceptionHandlingHW/EmailExceptionHandlingHW/bin/Debug
/EmailExceptionHandlingHW/EmailExceptionHandlingHW/obj/Debug
/EmailExceptionHandlingHW/.vs/EmailExceptionHandlingHW/v16
